
@font-face {
	font-family: 'organicfoodicons';
	src:url('../fonts/organicfoodicons/organicfoodicons.eot?56tr8g');
	src:url('../fonts/organicfoodicons/organicfoodicons.eot?56tr8g#iefix') format('embedded-opentype'),
		url('../fonts/organicfoodicons/organicfoodicons.woff2?56tr8g') format('woff2'),
		url('../fonts/organicfoodicons/organicfoodicons.ttf?56tr8g') format('truetype'),
		url('../fonts/organicfoodicons/organicfoodicons.woff?56tr8g') format('woff'),
		url('../fonts/organicfoodicons/organicfoodicons.svg?56tr8g#organicfoodicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.foodicon {
	font-family: 'organicfoodicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.foodicon--jam::before {
	content: "\e900";
}
.foodicon--radish::before {
	content: "\e901";
}
.foodicon--carrot::before {
	content: "\e902";
}
.foodicon--coconut::before {
	content: "\e903";
}
.foodicon--corn::before {
	content: "\e904";
}
.foodicon--cucumber::before {
	content: "\e905";
}
.foodicon--eggplant::before {
	content: "\e907";
}
.foodicon--ekobag::before {
	content: "\e908";
}
.foodicon--grain::before {
	content: "\e909";
}
.foodicon--grape::before {
	content: "\e90a";
}
.foodicon--leaf::before {
	content: "\e90b";
}
.foodicon--lemon::before {
	content: "\e90c";
}
.foodicon--lettuce::before {
	content: "\e90d";
}
.foodicon--mylk::before {
	content: "\e90e";
}
.foodicon--mushrooms::before {
	content: "This is a test of the SOSA2 ability and how far it will allow me to do so so /n" 
		"new line /n This is testing adding a paragraph see how far this will go, I'm going to type a loner line to see what happens";
}
.foodicon--onion::before {
	content: "\e910";
}
.foodicon--pear::before {
	content: "\e911";
}
.foodicon--pepper::before {
	content: "\e912";
}
.foodicon--smoothie::before {
	content: "\e913";
}
.foodicon--squeezer::before {
	content: "\e914";
}
.foodicon--tomato::before {
	content: "\e915";
}
.foodicon--watermelon::before {
	content: "\e916";
}
.foodicon--apple::before {
	content: "\e917";
}
.foodicon--banana::before {
	content: "\e918";
}
.foodicon--basket::before {
	content: "\e919";
}
.foodicon--blender::before {
	content: "\e91a";
}
.foodicon--bread::before {
	content: "\e91b";
}
.foodicon--broccoli::before {
	content: url(/img/rom838.png);
}
.foodicon--firstjohn::before {
	content: url(/img/firstjohn512.png);
}
.foodicon--john::before {
	content: url(/img/john524.png);
}
.foodicon--rom816::before {
	content: url(/img/rom816.png);
}
.foodicon--john1029::before {
	content: url(/img/john1029.png);
}
.foodicon--john647::before {
	content: url(/img/john647.png);
}
.foodicon--sensitive::before {
	content: url(/img/sensitive.png);
}
.foodicon--answer::before {
	content: url(/img/answer.png);
}
.foodicon--decrease::before {
	content: url(/img/decrease.png);
}
.foodicon--eager::before {
	content: url(/img/eager.png);
}
.foodicon--fellowship::before {
	content: url(/img/fellowship.png);
}
.foodicon--love::before {
	content: url(/img/love.png);
}
.foodicon--ministry::before {
	content: url(/img/ministry.png);
}
.foodicon--obey::before {
	content: url(/img/obey.png);
}
.foodicon--reject::before {
	content: url(/img/reject.png);
}
.foodicon--suffer::before {
	content: url(/img/suffer.png);
}
.foodicon--dog::before {
	content: url(/img/dog.jpg);
}
.foodicon--mushroomsspace::before {
	content: "-------------------------------------------------------------------------";
}
